.App {
  text-align: center;
}

.nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: #9EC1CE;
  color: white;
}
 .nav-Links{
   width: 40%;
   display: flex;
   justify-content: center;
   align-items: center;
   list-style-type: none;
 }